<tr>
	<td></td>
	<td>Tee Time</td>
	<td>Name</td>
	<td>Player 1</td>
	<td>Player 2</td>
	<td>Player 3</td>
	<td>Player 4</td>
	<td>Team Score</td>
	<td></td>
</tr>
<% @teams.each do |team| %>
	<tr id="team_<%= team.id %>" class="team_row">
		<% if team.image %>
			<td style="width:150px"><img src="/get_image?id=<%= team.id %>" height='60px' width='90px' onclick="window.location.href='/admin/add_image/<%= team.id %>'" style="cursor:pointer;" /></td>
		<% else %>
			<td style="width:150px"><a href="/admin/add_image/<%= team.id %>">Click to add image</a></td>
		<% end %>
		<td><%= team.tee_time.strftime("%H:%M") %></td>
		<td><%= team.name %></td>
		<td>
			<% if team.pros[0] %>
				<%= team.pros[0].name %>
			<% else %>
				-<br/>&nbsp;
			<% end %>
		</td>
		<td>
			<% if team.pros[1] %>
				<%= team.pros[1].name %>
			<% else %>
				-<br/>&nbsp;
			<% end %>
		</td>
		<td>
			<% if team.pros[2] %>
				<%= team.pros[2].name %>
			<% else %>
				-<br/>&nbsp;
			<% end %>
		</td>
		<td>
			<% if team.pros[3] %>
				<%= team.pros[3].name %>
			<% else %>
				-<br/>&nbsp;
			<% end %>
		</td>
		<td class="team_score">
			<input type="text" data-id="<%= team.id %>" class="team_score" value="<%= team.score %>" />
		</td>
		<td><a href="/admin/edit/<%= team.id %>">Edit</a>&nbsp;&nbsp;<a onclick="deleteTeam('<%= team.id %>')">Delete</a></td>
	</tr>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("input.pro_score").unbind("blur").blur(function() {
			updatePro(this);
		});
		
		$("input.team_score").unbind("blur").blur(function() {
			updateTeam(this);
		});
	});
</script>