<!-- Header -->
<div id="header">
	<div class="shell">
		
		<div id="head">
			<h1><a href="#">Weybrook Park Pro-Am Admin</a></h1>
		</div>
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="/admin"><span>Team Management</span></a></li>
			    <li><a href="/"><span>View Leaderboard</span></a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		
	</div>
</div>
<!-- End Header -->

<!-- Content -->
<div id="content" class="shell">
	<h1 style="width:200px;float:left;padding-bottom:45px;">Upload Image</h1>
	
	<%= form_for("team_image", method: "post") do |f| %>
		<div class="CSSTableGenerator" >
			<table>
				<tr>
					<td colspan="2">TEAM: <%= @team.pros.map{|pro| pro.name}.join(", ") %></td>
				</tr>			
				<tr>
					<td><%= f.file_field :image_file, :onchange => "checkFile(this,['JPG','JPEG','PNG'])" %></td>
					<td><%= f.submit %></td>
				</tr>
				<% if @team.image %>
					<tr>
						<td><img src="/get_image?id=<%= @team.id %>" height='100px' width='150px' /></td>
						<td><a onclick="deleteImage('<%= @team.id %>')" />Delete Current Image</a>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
</div>
<!-- End Content -->
