<!-- Header -->
<div id="header">
	<div class="shell">
		
		<div id="head">
			<h1><a href="#">Weybrook Park Pro-Am Admin</a></h1>
		</div>
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="/admin" class="active"><span>Team Management</span></a></li>
			    <li><a href="/"><span>View Leaderboard</span></a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		
	</div>
</div>
<!-- End Header -->

<!-- Content -->
<div id="content" class="shell">
	
	<!-- Help Navigation -->
	<div id="help-nav">
		<a href="/admin">Dashboard</a> &gt; Team Management
	</div>
	<!-- End Help Navigation -->
	
	<h1 style="width:200px;float:left;padding-bottom:45px;">Team Management</h1>
	<div style="float:right">
		<input type="text" placeholder="Search Teams" id="team_search" value="<%= @search %>"/>
		<input type="submit" value="Search" id="team_search_btn"/>
		<input type="submit" value="Clear" id="team_clear_btn"/>
	</div>
	<div class="message thank-message" style="<%= @success == "true" ? 'display:block;' : 'display:none;' %>">
		<p><strong>Success! The score has been updated.</strong></p>
	</div>
	<div class="message score error-message" style="<%= @success == "false" ? 'display:block;' : 'display:none;' %>">
		<p><strong>Error! The data could not be saved. Make sure it is valid and try again.</strong></p>
	</div>
	
	<div class="CSSTableGenerator" >
		<table id="team_table">
			<%= render :partial => "team_table" %>
		</table>
	</div>
	<br/>
	<div class="CSSTableGenerator">
		<table>
			<tr id="new_team">
				<td><%= text_field_tag :pro, nil, {:placeholder => "Enter pro name here", :id => "pro", :class => "clear"} %></td>
				<td><%= text_field_tag :amateur_1, nil, {:placeholder => "Enter amateur 1 here", :id => "amateur_1", :class => "clear"} %></td>
				<td><%= text_field_tag :amateur_2, nil, {:placeholder => "Enter amateur 2 here", :id => "amateur_2", :class => "clear"} %></td>
				<td><%= text_field_tag :amateur_3, nil, {:placeholder => "Enter amateur 3 here", :id => "amateur_3", :class => "clear"} %></td>
				<td><%= submit_tag "Add Team", :id => "add_team" %></td>
			</tr>
		</table>
	</div>
	<br/>
	<div class="message error-message" style='display:none;'>
		<p><strong>Error! The data could not be saved. Make sure it is valid and unique and try again.</strong></p>
	</div>
</div>
<!-- End Content -->
