<table id="head">
	<thead>
		<tr>
			<th class="title" colspan="3">INDIVIDUAL TOP 15</th>
		</tr>
		<tr>
			<th class="small"></th>
			<th class="big">Name</th>
			<th>Score</th>
		</tr>
	</thead>
</table>
<div id="scroll">
	<table id="body">
		<tbody>
			<% @pros.each_with_index do |pro,i| %>
				<tr>
					<% if pro.score == @prev_score %>
						<td class="small">T<%= @prev_position %></td>
					<% else %>
						<% if @pros[i+1] && pro.score == @pros[i+1].score %>
							<td class="small">T<%= i+1 %></td>
						<% else %>
							<td class="small"><%= i+1 %></td>
						<% end %>
						<% @prev_score = pro.score %>
						<% @prev_position = i+1 %>
					<% end %>
					<td class="big"><%= pro.name %></td>
					<td><%= pro.score %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		clearTimeout(window.team1);
		clearTimeout(window.team2);
		$("#scroll").css("height", Math.max($(window).height()-($("table#head").height()+212), 284)+"px");
		$("#scroll").scrollTop($("#scroll").prop("scrollHeight"));
		var max_scroll = $("#scroll").scrollTop();
		$("#scroll").scrollTop(0);
		window.pro1 = setTimeout(function() {
			clearTimeout(window.pro1);
			$("#scroll").animate({
				scrollTop: max_scroll
			}, <%= 1250*@pros.count %>, "linear", function() {
				window.pro2 = setTimeout(function() {
					clearTimeout(window.pro2);
					$("div#content table#head").fadeOut("fast");
					$("div#content table#body").fadeOut("fast", function() {
						$.get("/get_teams", function(response) {
							$("div#content").html(response);
						});
					});
				}, 3000);
			});
		}, 3000);
	});
</script>