<table id="head">
	<thead>
		<tr>
			<th class="title" colspan="4">PROFESSIONAL LEADERBOARD</th>
		</tr>
		<tr>
			<th class="small"></th>
			<th class="big">Name</th>
			<th>Score</th>
			<th>+/- <span style="font-size:14px;position:relative;bottom:2px;">(<%= @pro_par %>)</span></th>
		</tr>
	</thead>
</table>
<div id="scroll">
	<table id="body">
		<tbody>
			<% @pros.each_with_index do |pro,i| %>
				<tr>
					<% if pro.score > 0 %>
						<% if pro.score == @prev_score %>
							<td class="small">T<%= @prev_position %></td>
						<% else %>
							<% if @pros[i+1] && pro.score == @pros[i+1].score %>
								<td class="small">T<%= i+1 %></td>
							<% else %>
								<td class="small"><%= i+1 %></td>
							<% end %>
							<% @prev_score = pro.score %>
							<% @prev_position = i+1 %>
						<% end %>
						<td class="big"><%= pro.name %></td>
						<td><%= pro.score %></td>
						<td><%= pro.score-@pro_par %></td>
					<% else %>
						<td class="small"><%= pro.team.tee_time.strftime("%H:%M") %></td>
						<td class="big"><%= pro.name %></td>
						<td>-</td>
						<td>-</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		clearTimeout(window.team1);
		clearTimeout(window.team2);
		$("#scroll").css("height", Math.max($(window).height()-($("table#head").height()+212), 284)+"px");
		$("#scroll").scrollTop($("#scroll").prop("scrollHeight"));
		var max_scroll = $("#scroll").scrollTop();
		$("#scroll").scrollTop(0);
		window.pro1 = setTimeout(function() {
			clearTimeout(window.pro1);
			$("#scroll").animate({
				scrollTop: max_scroll
			}, <%= (@interval.to_f*0.7).to_i %>, "linear", function() {
				window.pro2 = setTimeout(function() {
					clearTimeout(window.pro2);
					$("div#content table").fadeOut("fast", function() {
						$.get("/get_teams", function(response) {
							$("div#content").html(response);
						});
					});
				},<%= (@interval.to_f*0.1).to_i %>);
			});
		}, <%= (@interval.to_f*0.2).to_i %>);
	});
</script>