<table id="head">
	<thead>
		<tr>
			<th class="title" colspan="8">LEADERBOARD</th>
		</tr>
		<tr>
			<th class="image"><div>&nbsp;</div></th>
			<th class="tiny"></th>
			<th>Name</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th class="tiny">Score</th>
		</tr>
	</thead>
</table>
<div id="scroll">
	<table id="body">
		<tbody>
			<% @teams.each_with_index do |team,i| %>
				<tr>
					<% if team["image"] %>
						<td class="image"><div><img src="/get_image?id=<%= team["id"] %>" height='60px' width='90px' class="img_top" /></div></td>
					<% else %>
						<td class="image"><div><img src="/assets/hpga.png" height='60px' width='90px' class="img_top" /></div></td>
					<% end %>
					<% if team["score"] > 0 %>
						<% if team["score"] == @prev_score %>
							<td class="tiny">T<%= @prev_position %></td>
						<% else %>
							<% if @teams[i+1] && team["score"] == @teams[i+1]["score"] %>
								<td class="tiny">T<%= i+1 %></td>
							<% else %>
								<td class="tiny"><%= i+1 %></td>
							<% end %>
							<% @prev_score = team["score"] %>
							<% @prev_position = i+1 %>
						<% end %>
						<td class="pro"><%= team["name"] %></td>
						<td class="am am2"><%= team["amateur_1"] %></td>
						<td class="am2"><%= team["amateur_2"] %></td>
						<td class="am2"><%= team["amateur_3"] %></td>
						<td class="am2"><%= team["amateur_4"] %></td>
						<td class="tiny"><%= team["score"] %></td>
					<% else %>
						<td class="tiny"><%= team["tee_time"].strftime("%H:%M") %></td>
						<td class="pro"><%= team["name"] %></td>
						<td class="am am2"><%= team["amateur_1"] %></td>
						<td class="am2"><%= team["amateur_2"] %></td>
						<td class="am2"><%= team["amateur_3"] %></td>
						<td class="am2"><%= team["amateur_4"] %></td>
						<td class="tiny">-</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		clearTimeout(window.team1);
		clearTimeout(window.team2);
		$("#scroll").css("height", Math.max($(window).height()-($("table#head").height()+214), 284)+"px");
		$("#scroll").scrollTop($("#scroll").prop("scrollHeight"));
		var max_scroll = $("#scroll").scrollTop();
		$("#scroll").scrollTop(0);
		window.team1 = setTimeout(function() {
			clearInterval(window.team1);
			$("#scroll").animate({
				scrollTop: max_scroll
			}, <%= 2500*@teams.count %>, "linear", function() {
				window.team2 = setTimeout(function() {
					clearInterval(window.team2);
					$("div#content table").fadeOut("fast", function() {
						$.get("/get_teams", function(response) {
							$("div#content").html(response);
						});
					});
				}, 3000);
			});
		}, 3000);
	});
</script>