<table>
	<tr>
		<th class="title" colspan="4">TEAM LEADERBOARD</th>
	</tr>
	<tr>
		<th class="small"></th>
		<th class="big">NAME</th>
		<th>SCORE</th>
		<th>+/- <span style="font-size:14px;position:relative;bottom:2px;">(par <%= @team_par %>)</span></th>
	</tr>
	<% @teams.each_with_index do |team,i| %>
		<tr>
			<% if team.score > 0 %>
				<% if team.score == @prev_score %>
					<td>T<%= @prev_position %></td>
				<% else %>
					<% if @teams[i+1] && team.score == @teams[i+1].score %>
						<td>T<%= i+1 %></td>
					<% else %>
						<td><%= i+1 %></td>
					<% end %>
					<% @prev_score = team.score %>
					<% @prev_position = i+1 %>
				<% end %>
				<td><%= team.name %></td>
				<td><%= team.score %></td>
				<td><%= team.score-@team_par %></td>
			<% else %>
				<td>-</td>
				<td><%= team.name %></td>
				<td>-</td>
				<td>-</td>
			<% end %>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("div#content table").fadeIn();
		setTimeout(function() {
			$("div#content table").fadeOut(function() {
				$("div#content").load("/get_pros");
			});
		},<%= @interval %>);
	});
</script>